.footer {
  background-color: black;
  padding: 40px;
  opacity: .8;
}

.footer-infos p {
  color: white;
  opacity: .6;
}

.footer-infos {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

li {
  display: inline-block;
}

.footer a {
  color: #1edd87;
  font-size: 32px;
  padding: 0 10px;
}
